-# http://railscasts.com/episodes/59-optimistic-locking
%h2
  #h2-infowindow
    = t('titles.adopt', :thing => t('defaults.thing'))
= form_for :thing, :url => '', :method => :put, :html => {:id => 'adoption_form'} do |f|
  = f.hidden_field 'id', :value => session[:thing].id
  = f.hidden_field 'user_id', :value => current_user.id
  = f.hidden_field 'lock_version', :value => session[:thing].lock_version
  #info-window
    %fieldset.control-group
      = f.label 'name', t('labels.name_thing', :thing => t('defaults.thing')), :id => 'thing_name_label'
      = f.text_field 'name', :autocomplete => 'off'
    %fieldset.control-group
      .btn-group
        .group
          %a{:id => 'email_notifications', :class => 'btn disabled', 'data-title' => t('labels.enable_email_notifications')}
          %a{:id => 'sms_notifications', :class => 'btn disabled', 'data-title' => t('labels.enable_sms_notifications')}
      %a{:id => 'adopt-button', :class => 'btn primary', :type => 'submit', :name => 'commit'}
        = t('buttons.adopt')
      #disable_email_notifications.hide
        = t('labels.disable_email_notifications')
      #enable_email_notifications.hide
        = t('labels.enable_email_notifications')
      #disable_sms_notifications.hide
        = t('labels.disable_sms_notifications')
      #enable_sms_notifications.hide
        = t('labels.enable_sms_notifications')