= form_for :user, :html => {:id => 'combo-form', :class => 'form-vertical'} do |f|
  %fieldset#common_fields
    .control-group
      %label{:for => 'user_email', :id => 'user-email-label'}
        = t('labels.email')
      %i.icon-lock{:id=>'test'}
      = f.email_field 'email', :value => params[:user] ? params[:user][:email] : nil
      %label{:id => 'required'}
        #required_text 
          = @required
    .btn-group{'data-toggle' => 'buttons-radio'}
      %btn{:class => 'btn active', :id => 'radio1'}
        = t('buttons.sign_up')
      %btn{:class => 'btn', :id => 'radio2'}
        = t('buttons.sign_in')
    %a.btn{:class => 'btn btn-primary', :id => 'fb', :type=>'submit', :name=>'commit'}
      %i.icon-facebook
      = t('buttons.connect')
      #url_for_oauth_code.hide
        = session[:url_for_oauth_code]
  %fieldset#user_sign_up_fields
    .control-group
      %label{:for => 'user_name', :id => 'user_name_label'}
        = t('labels.name')
      = f.text_field 'name'
    .control-group
      %label{:for => 'user_organization', :id => 'user_organization_label'}
        = t('labels.organization')
      = f.text_field 'organization'
    .control-group
      %label{:for => 'user_sms_number', :id => 'user-sms-number-label'}
        = t('labels.sms_number')
      = f.telephone_field 'sms_number', :placeholder => t('defaults.sms_number')
    .control-group
      %label{:for => 'user_password_confirmation', :id => 'user_password_confirmation_label'}
        = t('labels.password')
      %i.icon-lock{:id=>'test1'}
      = f.password_field 'password_confirmation'
      %label{:id => 'required'}
        .required-password
          = @required
    .form-actions
      = f.submit t('buttons.sign_up'), :class => 'btn btn-primary', :id=>'signup1'
      #signup
    %p
      = t('defaults.tos', :tos => link_to(t('titles.tos'), '#tos', :id => 'tos_link', :'data-toggle' => 'modal')).html_safe
  %fieldset#user_sign_in_fields{:style => 'display: none;'}
    .control-group
      %label{:for => 'user_password', :id => 'user_password_label'}
        = t('labels.password')
      = f.password_field 'password'
    .control-group
      #remember_me1
        #remember_me
          = t('labels.remember_me')
        %i.icon-check{:id=>'check1'}
    .form-actions
      = f.submit t('buttons.sign_in'), :class => 'btn btn-primary', :id=>'log-in'
      #login
    %p
      = link_to t('links.forgot_password'), '#', :id => 'user_forgot_password_link'
  %fieldset#user_forgot_password_fields{:style => 'display: none;'}
    .form-actions
      = f.submit t('buttons.email_password'), :class => 'btn btn-primary'
    %p
      = link_to t('links.remembered_password'), '#', :id => 'user_remembered_password_link'
- if !request.env['HTTP_USER_AGENT'].include? 'Mobi'
  = render :partial => 'sidebar/tos'
= render :partial => 'sidebar/footer'
:javascript
  $(function() {
    $('#user_email').focus();
  });